.heading-site{

    text-align: center;

    font-family: Montserrat, Sans-Serif;

}

.header{

    width: 100%;

    margin-left: 0;

    margin-right: 0;

    height: 70px;

    line-height: 70px;

    background-color: rgba(0, 0, 0, 0);

    position: fixed;

    top: 0;

    z-index: 999;

}

.header .header-logo{

    color: #fff;

    font-family: Montserrat, Sans-Serif;

    float: left;

    margin-left: 30px;

}

.header.header-menu{

    float: right;

    margin-right: 30px;

}

.header .header-menu a{

    margin-right: 15px;

    color: #fff;

}

.header .header-menu a:hover{

    color: #3498db;

}

.banner {

    margin-top: -20px;

}

.banner .banner-image {

    position: relative;

}

.banner .banner-content{

    position: absolute;

    width: 100%;

    text-align: center;

    top: 10%;

    background-color: black;

}

.banner .banner-content h1,

.banner .banner-content h2{

    color: #fff;

}

.about .about-single-element .icon {

    font-size: 60px;

    text-align: center;

}

.about .about-single-element {

    text-align: center;

    background-color: black;

}

.about .about-single-element p{

    text-align: center;

    margin-top: 20px;

}
